.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
}
.gallery-item{
list-style: none;
}
.gallery-image{
    width: 360px;
    height: 200px;
    transition: 250ms;
}

.gallery-image:hover{
    transform: scale(1.0444);
}
.modal{
    background: rgba(46, 47, 66, 0.8);
}
.modal-image{
    width: 1112px;
    height: 640px;
}